<li class="picture frame">
  <%= link_to picture do %>
    <%= tag("img", :src => picture.data, :height => 135, :width => 181) %>
  <% end %>
  <p>
    <%= link_to " Copy", "#", :class => "copy-button" %>
    <time><%= time_ago_in_words(picture.created_at) %> ago</time>
  </p>
</li>
