<div class="frame">
  <div class="container">
    <div class="side-box">
      <ul class="thumbnails">
      </ul>
      <ul class="thumbnail-clone">
        <li class="thumbnail">
          <img src="" alt="" width="200" height="150" />
        </li>
      </ul>
    </div>
    <div class="canvas-box">
      <canvas id="canvas" width="800" height="600"></canvas>
    </div>
  </div>

  <div class="pallete">
    <table>
      <tr>
        <td>
          <%= form_tag({:action => :create}, {:id => "save-form"}) do %>
            <%= submit_tag "Save", :class => "button" %>
          <% end %>
        </td>
        <td>
          <button class="button" type="button" id="clear-button">Clear</button>
        </td>
        <td>
          <button class="button" type="button" id="undo-button">Undo</button>
        </td>
        <td class="slider">
          <%= range_field_tag "pen-width-slider", 10, :min => 1, :max => 50 %>
        </td>
        <td class="slider-value">
          <span id="pen-width-slider-value">10</span>px
        </td>
        <td class="colors">
          <div class="color" style="background-color:#2B2B2B"></div>
          <div class="color" style="background-color:#9ea1a3"></div>
          <div class="color" style="background-color:#DCDDDD"></div>
          <div class="color" style="background-color:#FFFFFF"></div>
          <div class="color" style="background-color:#D9333F"></div>
          <div class="color" style="background-color:#762f07"></div>
          <div class="color" style="background-color:#F5B199"></div>
          <div class="color" style="background-color:#FFDB4F"></div>
          <div class="color" style="background-color:#7EBEAB"></div>
          <div class="color" style="background-color:#2F5D50"></div>
          <div class="color" style="background-color:#89C3EB"></div>
          <div class="color" style="background-color:#706CAA"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
