@mixin clearfix {
  width:100%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin radius($px) {
  border-radius: $px;
  -moz-border-radius: $px;
  -webkit-border-radius: $px;
}

/* end mixin */
/* --------- */
/* begin css */


* {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

body {
  padding: 20px;
}

canvas {
  background: white;
  border: solid 1px #ccc;
}

.pictures {
  @include clearfix;

  .picture {
    float: left;
    list-style-type: none;
    margin: 20px 20px 0 0;

    .copy-button {
      color: #333;
      font-size: 80%;
      &:before {
        content: "\27f3";
      }
    }
  }
}

.frame {
  background: #eee;
  border: solid 1px #ccc;
  padding: 15px;
  @include radius(15px);
}

.picture img {
  background: white;
  border: solid 1px #ccc;
  display: block;
}
