@mixin clearfix {
  width:100%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin radius($px) {
  border-radius: $px;
  -moz-border-radius: $px;
  -webkit-border-radius: $px;
}

/* end mixin */
/* --------- */
/* begin css */


* {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

body {
  padding: 20px;
}

canvas {
  background: white;
  border: solid 1px #ccc;
}

.pictures {
  .picture {
    float: left;
    list-style-type: none;
    margin: 20px 20px 0 0;

    .copy-button {
      color: #333;
      font-size: 80%;
      &:before { content: "\27f3" }
    }
  }
  @include clearfix;
}

.frame {
  background: #eee;
  border: solid 1px #ccc;
  padding: 15px;
  @include radius(15px);
}

.picture img {
  background: white;
  border: solid 1px #ccc;
  display: block;
  margin: 0 auto;
}

.pallete {
  padding: 10px 0;

  .slider { padding-top: 6px }
  .slider-value { padding-right: 10px }

  .colors {
    .color {
      border: solid 3px #eee;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      width: 30px;
      @include radius(18px);
      &.selected { border: double 3px red }
    }
  }

  .button {
    background-color: #FFDB4F;
    border: solid 4px #aaa;
    cursor: pointer;
    display: block;
    height: 50px;
    margin-right: 10px;
    width: 50px;
    @include radius(50px);
    &:hover  {
      background: #ccc;
      border: double 3px #eee;
    }
    &:active {
      background: #ccc;
      border: solid 3px #ccc;
    }
  }
}
